*{
    margin: 0;
    padding: 0;

}

.main{
    background-position: center;
    background-size: cover;
    height: 109vh;
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(1.jpg)
}

.navbar{
    width: 1200px;
    height: 76px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: green; 
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 75px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
list-style: none;
margin-left: 70px;
margin-top: 27px;
font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
}

ul li a:hover{
    color: antiquewhite;
} 

#container{
    display: flex;
    align-items: center;
}

#container img{
    margin-right: 20px;

}

p{
    color: blue;
    text-align: center;
}

ol{
    text-align: center;
    color: brown;
}

h1{
    text-align: center;
    color: black;
}

img{
    color: black; 
    text-align: end;
}

h1{
    color: brown;
}

img{
    resize: horizontal;
}