*{
    margin: 0;
    padding: 0;

}

.main{
    background-position: center;
    background-size: cover;
    height: 109vh;
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(1.jpg)
}

.navbar{
    width: 1200px;
    height: 76px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: green; 
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 75px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
list-style: none;
margin-left: 70px;
margin-top: 27px;
font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
}

ul li a:hover{
    color: rgb(131, 88, 33);
} 



#container img{
    margin-right: 20px;

}
body{
    background-color: aqua;
}

p{
    color: blue;
    text-align: center;
}

ol{
    text-align: center;
    color: brown;
}

h1{
    text-align: center;
    color: black;
}

img{
    color: black; 
    text-align: end;
}

h1{
    color: brown;
}

img{
    width: 30%;
}

img{
    position: static;
   left: 30px;
}

h1{
    font-weight: 0%;
    font-style: italic;
}

h2{
    font-style: italic;
}

.card{
    border: 0ch;
    background-color: antiquewhite;
    height: 30%;
    width: 40%;
}

p{
    text-align: start;
} 

img{
    width: 30%;
}
 
ol li{
 display: block;  

}
  
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}